.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  text-align: center;
  color: grey;
}

.Head {
  display: inline-block;
  height: 20px;
  padding: 5px;
  font-size: 12px;
  background-color: #040814;
}

.Body {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
}

.Explorer {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: #000b14;
}

.FileTree {
  overflow-y: auto;
  text-align: left;
  font-size: 14px;
}

.CodingWindow {
  flex-grow: 1;
  overflow: auto;
  background-color: #030814;
}

.TabSpace {
  display: flex;
  flex-direction: row;
  border: 1px solid white;
}

.Code {
  text-align: left;
  font-family: "system-ui";
  padding-left: 20px;
}

ul {
  padding-left: 20px;
  list-style-type: none;
}
